@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
  background-color: black;
  color: white;
}

/* Rainbow Button Styles */
.rainbow {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 2px;
}

.rainbow::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 50% 30%;
  filter: blur(6px);
  background-image: linear-gradient(#7bff82, #ffffff00);
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

/* Shine Button Styles */
.button-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200%;
  width: 200%;
  background: conic-gradient(from 0deg, transparent 0%, #00A63E 25%, transparent 50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* === HEADING STYLE #2 === */
.heading-two h1 {
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
.heading-two h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #00A63E;
}

.heading-two h1 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(255, 255, 255, 0.4);
  display: block;
}
.heading-alt-two h1 {
  text-align:center;
}
.heading-alt-two h1:before {
  left:50%; margin-left:-30px;
}

/* Avatar Mask Styles */
.avatar-container {
  position: relative;
  display: flex;
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.avatar-mask {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M49.677.001L50 0c27.596 0 50 22.404 50 50l-.002.443v.046l-.001.029a29.83 29.83 0 01-.006.423v.036l-.001.046-.011.432v.009l-.001.027-.007.233-.007.184-.001.042-.001.021-.019.423-.001.041-.003.042c-.006.141-.014.282-.022.423l-.001.018-.002.04-.012.191-.014.221-.002.03-.001.012c-.009.142-.02.283-.031.425l-.003.044-.003.036-.034.418-.002.026-.004.044-.014.159-.026.277-.043.431-.005.045-.003.029-.046.414-.004.032-.005.044c-.016.142-.033.283-.051.424l-.034.266-.023.172-.005.042-.003.022-.058.41-.005.04-.007.043-.061.41-.003.017-.006.04-.03.191-.032.199-.006.039-.003.016-.068.403-.008.049-.008.042-.063.353A49.459 49.459 0 0197.707 65h-.002a5.3 5.3 0 01-6.5 3.473v.002a17.893 17.893 0 00-2.853-.683l-.098-.015-.077-.011-.097-.014-.079-.011-.095-.012-.082-.011-.093-.011-.084-.01-.091-.01-.086-.009-.09-.009-.088-.009-.089-.008-.09-.007-.087-.008-.092-.007-.086-.006-.094-.006-.084-.005-.096-.006-.083-.004-.099-.005-.081-.003-.102-.004-.077-.002-.108-.003-.073-.002-.12-.002h-.061l-.181-.001-.228.001-.076.002-.152.002-.091.003-.137.004-.096.005-.13.005-.1.006-.126.007-.102.007-.123.009-.103.008-.121.01-.104.009-.12.012-.104.011-.118.012-.105.013-.117.014-.105.013-.117.016-.104.015-.116.017-.104.016-.115.018-.104.017-.115.02-.103.018-.115.022-.102.019-.115.023-.101.021-.115.024-.101.022-.114.025-.1.023-.115.028-.099.023-.114.029-.098.025-.115.031-.096.025-.117.033-.094.026-.118.034-.091.027-.121.037-.087.027-.127.04-.08.026-.14.046-.066.022-.205.071-.205.073-.049.019-.154.057-.07.027-.131.051-.079.032-.122.048-.082.035-.117.048-.084.036-.114.049-.086.038-.111.05-.086.039-.11.05-.086.041-.108.051-.086.042-.107.052-.086.043-.106.054-.085.044-.106.054-.085.045-.104.056-.084.046-.104.057-.083.047-.104.059-.082.047-.104.06-.081.048-.103.062-.08.048-.103.064-.078.049-.104.065-.076.049-.105.068-.074.048-.106.071-.071.048-.108.074-.068.046-.11.078-.064.045-.115.083-.058.042-.124.091-.047.035-.142.108-.027.02-.169.132-.17.134-.166.136-.021.017-.142.119-.038.033-.124.106-.046.04-.114.1-.051.045-.107.097-.054.049-.103.095-.055.051-.1.095-.056.053-.097.094-.057.055-.095.095-.056.056-.094.095-.056.058-.092.095-.056.058-.091.097-.055.059-.09.098-.054.059-.089.1-.053.059-.088.101-.052.059-.088.104-.05.058-.088.106-.048.058-.089.108-.045.057-.089.112-.044.055-.09.116-.04.052-.092.121-.037.049-.095.128-.031.043-.1.139-.025.034-.108.155-.014.02c-.205.296-.402.598-.589.906l-.11.184-.016.026-.092.159-.022.038-.084.148-.026.046-.078.142-.028.051-.073.138-.029.056-.07.134-.03.059-.068.133-.03.062-.065.132-.03.063-.062.131-.031.065-.06.131-.03.066-.058.131-.029.067-.057.132-.029.067-.055.133-.028.068-.053.133-.027.068-.052.135-.026.068-.051.137-.025.066-.05.14-.023.065-.049.142-.022.064-.049.146-.019.06-.049.152-.017.056-.049.16-.015.049-.05.172-.011.038-.054.195-.005.016c-.077.285-.147.572-.21.862l-.008.036-.038.179-.011.059-.032.158-.013.07-.027.147-.014.079-.024.138-.014.086-.021.133-.013.091-.019.129-.013.094-.017.126-.012.098-.015.123-.012.101-.013.121-.01.104-.011.118-.01.107-.009.116-.009.11-.008.113-.007.113a17.978 17.978 0 00.861 6.717h-.002a5.3 5.3 0 01-3.473 6.5v.002c-1.208.38-2.436.715-3.682 1.004l-.364.083-.02.005-.071.015-.229.051-.098.021-.062.013-.068.014-.115.025-.205.042-.074.015-.027.006-.415.082-.021.004-.067.013-.226.043-.109.02-.062.012-.063.011-.112.021-.225.04-.066.012-.022.003c-.14.025-.281.048-.422.071l-.024.005-.068.01-.218.036-.118.018-.065.01-.06.009-.107.017-.243.036-.06.009-.018.002a31.15 31.15 0 01-.426.06l-.028.004-.072.009-.207.028-.126.015-.068.009-.058.007-.101.013-.26.031-.056.006-.014.002-.429.047-.032.004-.076.008-.196.02-.134.013-.072.007-.056.006-.094.009-.279.025-.049.004-.011.001a68.06 68.06 0 01-.431.035l-.038.003-.078.006-.186.014-.142.01-.075.005-.055.003-.087.006-.301.019-.039.002-.008.001c-.144.008-.289.016-.434.022l-.041.003-.081.003-.176.008-.15.006-.078.004-.052.001-.081.004-.357.011-.437.011-.046.001-.08.001-.168.003-.16.002-.08.001h-.049L50 100C22.404 100 0 77.596 0 50a49.738 49.738 0 015.473-22.754l.139-.269a50.144 50.144 0 015.812-8.774l.191-.231a50.32 50.32 0 018.237-7.853l.097-.072a48.756 48.756 0 012.02-1.446l.084-.057.201-.135c.183-.123.368-.244.552-.364l.253-.163.028-.018a49.87 49.87 0 017.739-4.05l.282-.116a49.03 49.03 0 012.877-1.074 50.373 50.373 0 013.525-1.049l.3-.076A50.11 50.11 0 0145.206.227l.316-.029.316-.027.317-.025.318-.023.318-.021.319-.02a51.837 51.837 0 012.098-.076l.146-.002.323-.003z' /%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M49.677.001L50 0c27.596 0 50 22.404 50 50l-.002.443v.046l-.001.029a29.83 29.83 0 01-.006.423v.036l-.001.046-.011.432v.009l-.001.027-.007.233-.007.184-.001.042-.001.021-.019.423-.001.041-.003.042c-.006.141-.014.282-.022.423l-.001.018-.002.04-.012.191-.014.221-.002.03-.001.012c-.009.142-.02.283-.031.425l-.003.044-.003.036-.034.418-.002.026-.004.044-.014.159-.026.277-.043.431-.005.045-.003.029-.046.414-.004.032-.005.044c-.016.142-.033.283-.051.424l-.034.266-.023.172-.005.042-.003.022-.058.41-.005.04-.007.043-.061.41-.003.017-.006.04-.03.191-.032.199-.006.039-.003.016-.068.403-.008.049-.008.042-.063.353A49.459 49.459 0 0197.707 65h-.002a5.3 5.3 0 01-6.5 3.473v.002a17.893 17.893 0 00-2.853-.683l-.098-.015-.077-.011-.097-.014-.079-.011-.095-.012-.082-.011-.093-.011-.084-.01-.091-.01-.086-.009-.09-.009-.088-.009-.089-.008-.09-.007-.087-.008-.092-.007-.086-.006-.094-.006-.084-.005-.096-.006-.083-.004-.099-.005-.081-.003-.102-.004-.077-.002-.108-.003-.073-.002-.12-.002h-.061l-.181-.001-.228.001-.076.002-.152.002-.091.003-.137.004-.096.005-.13.005-.1.006-.126.007-.102.007-.123.009-.103.008-.121.01-.104.009-.12.012-.104.011-.118.012-.105.013-.117.014-.105.013-.117.016-.104.015-.116.017-.104.016-.115.018-.104.017-.115.02-.103.018-.115.022-.102.019-.115.023-.101.021-.115.024-.101.022-.114.025-.1.023-.115.028-.099.023-.114.029-.098.025-.115.031-.096.025-.117.033-.094.026-.118.034-.091.027-.121.037-.087.027-.127.04-.08.026-.14.046-.066.022-.205.071-.205.073-.049.019-.154.057-.07.027-.131.051-.079.032-.122.048-.082.035-.117.048-.084.036-.114.049-.086.038-.111.05-.086.039-.11.05-.086.041-.108.051-.086.042-.107.052-.086.043-.106.054-.085.044-.106.054-.085.045-.104.056-.084.046-.104.057-.083.047-.104.059-.082.047-.104.06-.081.048-.103.062-.08.048-.103.064-.078.049-.104.065-.076.049-.105.068-.074.048-.106.071-.071.048-.108.074-.068.046-.11.078-.064.045-.115.083-.058.042-.124.091-.047.035-.142.108-.027.02-.169.132-.17.134-.166.136-.021.017-.142.119-.038.033-.124.106-.046.04-.114.1-.051.045-.107.097-.054.049-.103.095-.055.051-.1.095-.056.053-.097.094-.057.055-.095.095-.056.056-.094.095-.056.058-.092.095-.056.058-.091.097-.055.059-.09.098-.054.059-.089.1-.053.059-.088.101-.052.059-.088.104-.05.058-.088.106-.048.058-.089.108-.045.057-.089.112-.044.055-.09.116-.04.052-.092.121-.037.049-.095.128-.031.043-.1.139-.025.034-.108.155-.014.02c-.205.296-.402.598-.589.906l-.11.184-.016.026-.092.159-.022.038-.084.148-.026.046-.078.142-.028.051-.073.138-.029.056-.07.134-.03.059-.068.133-.03.062-.065.132-.03.063-.062.131-.031.065-.06.131-.03.066-.058.131-.029.067-.057.132-.029.067-.055.133-.028.068-.053.133-.027.068-.052.135-.026.068-.051.137-.025.066-.05.14-.023.065-.049.142-.022.064-.049.146-.019.06-.049.152-.017.056-.049.16-.015.049-.05.172-.011.038-.054.195-.005.016c-.077.285-.147.572-.21.862l-.008.036-.038.179-.011.059-.032.158-.013.07-.027.147-.014.079-.024.138-.014.086-.021.133-.013.091-.019.129-.013.094-.017.126-.012.098-.015.123-.012.101-.013.121-.01.104-.011.118-.01.107-.009.116-.009.11-.008.113-.007.113a17.978 17.978 0 00.861 6.717h-.002a5.3 5.3 0 01-3.473 6.5v.002c-1.208.38-2.436.715-3.682 1.004l-.364.083-.02.005-.071.015-.229.051-.098.021-.062.013-.068.014-.115.025-.205.042-.074.015-.027.006-.415.082-.021.004-.067.013-.226.043-.109.02-.062.012-.063.011-.112.021-.225.04-.066.012-.022.003c-.14.025-.281.048-.422.071l-.024.005-.068.01-.218.036-.118.018-.065.01-.06.009-.107.017-.243.036-.06.009-.018.002a31.15 31.15 0 01-.426.06l-.028.004-.072.009-.207.028-.126.015-.068.009-.058.007-.101.013-.26.031-.056.006-.014.002-.429.047-.032.004-.076.008-.196.02-.134.013-.072.007-.056.006-.094.009-.279.025-.049.004-.011.001a68.06 68.06 0 01-.431.035l-.038.003-.078.006-.186.014-.142.01-.075.005-.055.003-.087.006-.301.019-.039.002-.008.001c-.144.008-.289.016-.434.022l-.041.003-.081.003-.176.008-.15.006-.078.004-.052.001-.081.004-.357.011-.437.011-.046.001-.08.001-.168.003-.16.002-.08.001h-.049L50 100C22.404 100 0 77.596 0 50a49.738 49.738 0 015.473-22.754l.139-.269a50.144 50.144 0 015.812-8.774l.191-.231a50.32 50.32 0 018.237-7.853l.097-.072a48.756 48.756 0 012.02-1.446l.084-.057.201-.135c.183-.123.368-.244.552-.364l.253-.163.028-.018a49.87 49.87 0 017.739-4.05l.282-.116a49.03 49.03 0 012.877-1.074 50.373 50.373 0 013.525-1.049l.3-.076A50.11 50.11 0 0145.206.227l.316-.029.316-.027.317-.025.318-.023.318-.021.319-.02a51.837 51.837 0 012.098-.076l.146-.002.323-.003z' /%3E%3C/svg%3E");
}

.avatar-indicator {
  display: block;
  width: 20%;
  height: auto;
  aspect-ratio: 1 / 1;
  background: rgb(0, 150, 20);
  border-radius: 50%;
  position: absolute;
  right: 4%;
  bottom: 4%;
}

/* React DatePicker Dark Theme */
#datepicker-portal {
  position: relative;
  z-index: 9999;
}

.react-datepicker-popper,
.dark-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker__tab-loop {
  position: absolute !important;
  z-index: 9999 !important;
}

.react-datepicker {
  background-color: rgba(0, 0, 0, 0.95) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 12px !important;
  font-family: 'Poppins', sans-serif !important;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5) !important;
}

.react-datepicker__header {
  background-color: rgba(0, 166, 62, 0.1) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 12px 12px 0 0 !important;
  padding-top: 12px !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  color: rgba(255, 255, 255, 0.9) !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: rgba(255, 255, 255, 0.7) !important;
  width: 2rem !important;
  line-height: 2rem !important;
  margin: 0.2rem !important;
}

.react-datepicker__day:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 6px !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #00A63E !important;
  color: white !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
}

.react-datepicker__day--disabled {
  color: rgba(255, 255, 255, 0.3) !important;
}

.react-datepicker__time-container {
  border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.react-datepicker__time {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 0 0 12px 0 !important;
}

.react-datepicker__time-list-item {
  color: rgba(255, 255, 255, 0.7) !important;
  padding: 8px !important;
}

.react-datepicker__time-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.react-datepicker__time-list-item--selected {
  background-color: #00A63E !important;
  color: white !important;
  font-weight: 600 !important;
}

.react-datepicker__navigation {
  top: 12px !important;
}

.react-datepicker__navigation-icon::before {
  border-color: rgba(255, 255, 255, 0.7) !important;
  border-width: 2px 2px 0 0 !important;
  height: 8px !important;
  width: 8px !important;
}

.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before {
  border-color: white !important;
}

.react-datepicker__triangle {
  display: none !important;
}

/* Hamburger Menu Icon Animation */
#nav-icon2 {
  width: 32px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #00A63E;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 3px 3px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 3px 0 0 3px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 10px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 20px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 3px;
  top: 4px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 3px);
  top: 4px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 3px;
  top: 16px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: 16px;
}